{
  "openapi": "3.1.0",
  "info": {
    "title": "Longda's Interesting World Public Discovery",
    "version": "2026-06-09",
    "description": "Read-only public endpoints for agents discovering and indexing ilongda.com."
  },
  "servers": [
    {
      "url": "https://ilongda.com"
    }
  ],
  "paths": {
    "/llms.txt": {
      "get": {
        "summary": "Get the agent-readable site guide",
        "responses": {
          "200": {
            "description": "Plain-text guide to public content and feeds.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "summary": "Get a full plain-text content archive",
        "responses": {
          "200": {
            "description": "Plain-text archive generated from public posts and knowledge pages.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/search.xml": {
      "get": {
        "summary": "Get the public search index",
        "responses": {
          "200": {
            "description": "Hexo search index for public site content.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/atom.xml": {
      "get": {
        "summary": "Get the Atom feed",
        "responses": {
          "200": {
            "description": "Full-content Atom feed for recent and historical posts.",
            "content": {
              "application/atom+xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/api-catalog": {
      "get": {
        "summary": "Get the API catalog linkset",
        "responses": {
          "200": {
            "description": "RFC 9727-style API catalog for public agent discovery resources.",
            "content": {
              "application/linkset+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "Get OAuth protected resource metadata",
        "responses": {
          "200": {
            "description": "Public-resource metadata indicating that no OAuth scopes are required today.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "summary": "Get OAuth authorization server metadata",
        "responses": {
          "200": {
            "description": "Authorization server metadata containing the auth.md agent registration profile.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "summary": "Get OpenID Connect discovery metadata",
        "responses": {
          "200": {
            "description": "OpenID Provider metadata aligned with the public auth.md registration flow.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/jwks.json": {
      "get": {
        "summary": "Get the authorization server JWKS document",
        "responses": {
          "200": {
            "description": "Empty JWKS document because the site does not sign OAuth tokens today.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth/token": {
      "get": {
        "summary": "Get static token endpoint metadata",
        "responses": {
          "200": {
            "description": "Static JSON explaining that OAuth access tokens are not issued for public reads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/agent-skills/index.json": {
      "get": {
        "summary": "Get the agent skills discovery index",
        "responses": {
          "200": {
            "description": "Agent Skills Discovery index for public site retrieval guidance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/mcp/server-card.json": {
      "get": {
        "summary": "Get the static MCP server card",
        "responses": {
          "200": {
            "description": "Static MCP Server Card describing public resources but no executable tools.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/health": {
      "get": {
        "summary": "Get static health metadata",
        "responses": {
          "200": {
            "description": "Static metadata indicating the discovery endpoints are published.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth.md": {
      "get": {
        "summary": "Get agent authentication guidance",
        "responses": {
          "200": {
            "description": "Markdown guidance explaining that public site reads do not require registration or OAuth credentials.",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
